html {
    font-size: 20px;
    }

#con
{
  font-size: 30px;  
}

#con > div 
{
    background-color: rgba(0,225,225,0.6);
    margin-bottom: 15px; 
}

#pix 
{
    width: 400px;
}
#em
{  
    width: 20em;
}

#ex
{
    width: 20ex;
    width: 20ex;
}
 
#rem
{ width: 20rem; }

#vw
{ width: 20vw;}
























